/*Created by James Paik*/


body {
	background:none;
	height: 100%;
    overflow: hidden;
}

html{
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover{
	color:#d21034;
	text-decoration: none;
}

body {
    background: 
	 url(../images/background.png) repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1,
h2,
h3 {
    color: #ffffff;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Open Sans';
    line-height: 1.2;
}
h4,
h5,
h6 {
 font-weight: normal;
 color:#fff;
  font-family: 'Open Sans';
 font-size:25px;
 }

p{
	font-weight:300;
	color: #ffffff;
	font-size:20px;
}

/*Hiding Carosel control animations*/
.carousel-control.left {
    background-image: none;
    }
.carousel-control.right {
    background-image:none;
}

/*Making the carousel images full scale*/
.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}

.carousel{
    background: #1D1D25;
}
.carousel::after{
	opacity: 0.4;
}

/*Fills the entire size of the monitor screen with w/e - Using it for the carousel in home page*/
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

#content {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    max-width: 700px;
    color: #fff;
    text-align: center;
}
#content h1 {
    position: relative;
    margin-bottom: 0;
    color: white;
    letter-spacing: 2px;
    font-size: 5.5em;
    line-height: 1em;
}
#content h3 {
    position: relative;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}
#content p {
    margin-top:25px;
}
#content hr {
	border: 1px solid white;
	width: 150px;
}
@media(max-width:767px) {
    #content h1 {
        font-size: 60px;
    }
    #content h3 {
        font-size: 16px;
    }
}
@media(max-width:480px) {
    #content h1 {
        font-size: 30px;
    }
    #content h3 {
        font-size: 13px;
    }
}

.wrap {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    box-sizing: border-box;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#screenshots{
	width: 255px;
    height: 465px;
	background-size: 100%;
	position:fixed;
    margin-left: 290px;
    top: 50%;
    margin-top: -240px;
    left: 50%;
	z-index:999;
}

#screenshots img{
	width: 255px;
    height: 465px;
}

#logo {
    position: fixed;
	text-align:left;
	width:100%;
    top: 2%;
	display: inline-block;
}

i{
	min-width:50px;
	text-align:center;
	
}

.fa-map-o{
	font-size:15px;
}

.btn:hover{
	color:#000;
	background-color: white;
}

.btn-default{
	color:#fff;
	background-color: rgb(49,176,213);
	min-width:160px;
	border-style: none;
	font-size:20px;
	padding:15px;
	margin-right:25px;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn-success{
	color:#fff;
	min-width:160px;
	border-style: none;
	font-size:20px;
	padding:15px;
	margin-right:25px;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.appstore {
    background: url(../images/appstore.png);
    height: 21px;
    width: 17px;
    margin-top: 2px;
    float: left;
}
.btn:hover .appstore { background: url(../images/appstore2.png); 	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.playstore {
    background: url(../images/playstore.png);
    height: 20px;
    width: 17px;
    margin-top: 2px;
    float: left;
}
.btn:hover .playstore { background: url(../images/playstore2.png); 	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

/*.github {
    background: url(../images/github.png);
    height: 22px;
    width: 22px;
    margin-top: 2px;
    float: left;
}
.btn:hover .github { background: url(../images/github2.png); 	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }*/

	
.disabled{
pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.footer p{
	  font-size:14px;
}

@media (max-width: 1280px){
	h1,
	h2,
	h3 {
		color: #ffffff;
		font-size: 3em;
		font-weight: normal;
		font-family: 'Open Sans';
		line-height: 1.2;
	}
	h4,
	h5,
	h6 {
	 font-weight: normal;
	 color:#fff;
	  font-family: 'Open Sans';
	 font-size: 1em;
	 }

	p{
		font-weight:300;
		color: #ffffff;
		font-size: 18px;
	}
	
	#phone{
    background: url(../images/android.png) top no-repeat;
    width: 800px;
    height: 1000px;
    background-size: 100%;
    position: fixed;
    margin-left: -300px;
    top: 50%;
    margin-top: -330px;
    left: 50%;
	}

	#screenshots{
		width: 225px;
		height: 415px;
		background-size: 100%;
		position:fixed;
		margin-left: 182px;
		top: 50%;
		margin-top: -255px;
		left: 50%;
		z-index:999;
	}

	#screenshots img{
		width: 225px;
		height: 415px;
	}

}

@media(max-width: 768px){
	h1,
	h2,
	h3 {
		color: #ffffff;
		font-size: 2em;
		font-weight: normal;
		font-family: 'Open Sans';
		line-height: 1.2;
	}
	h4,
	h5,
	h6 {
	 font-weight: normal;
	 color:#fff;
	  font-family: 'Open Sans';
	 font-size: 1em;
	 }
	 
	.btn-default, .btn-success{
		color:#fff;
		min-width:150px;
		border-style: none;
		font-size:14px;
		padding:10px;
		margin-right:25px;
		margin-bottom:20px;
	}

	p{
		font-weight:300;
		color: #ffffff;
		font-size: 1em;
	}
	
	
	.fa-map-o{
		font-size:1em;
	}

	
	#phone{
		visibility:hidden;
	}

	#screenshots{
		visibility:hidden;
	}
	
	i{
		min-width:30px;
		text-align:initial;
	}
	
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 60px;
	}
	.footer p{
		  font-size:10px;
	}

}
